html{
    height: 100%;
}

body{
    background-color: #21D4FD;
background-image: linear-gradient(0deg, #21D4FD 0%, #B721FF 100%);
}

.col-md-5{
    margin-top: 150px !important;
    padding: 20px;
    background-color: #f1faee;
    border-radius: 10px !important;
}

input{
    margin-top: 20px;
}

button{
    margin-top: 20px !important;
    float: left;
}

.success{
    border: 3px solid #80ed99 !important;
}

.error{
    border: 3px solid #e76f51 !important;
}

small{
    color: #d62828;
    font-weight: bold;
    margin: 5px;
}